# Aplicação
NEXT_PUBLIC_API_URL=http://localhost:3000/
AUTH_SECRET=sua_chave_secreta_aqui
NEXTAUTH_URL=http://localhost:3000

# Banco de Dados
DATABASE_URL="mysql://seu_usuario:sua_senha@localhost:3306/nome_do_banco"
DATABASE_HOST=localhost
DATABASE_USER=seu_usuario
DATABASE_PASSWORD=sua_senha
DATABASE_NAME=nome_do_banco

# Ambiente
ENVIRONMENT=development # Para rodar localmente, trocar para "local" no lugar de "development"